.navbar-brand {
    display: flex;
    padding-left: 94px;
}

.textito {
    color: white;
}

.tarjeta {
    display: flex;
    padding-left: 96px;
    padding-top: 50px;
    justify-content: space-evenly;

}