.footadidis {
    display: flex;
    background-color: blue;
    justify-content: space-evenly;
}

.footadidis img {
    padding-top: 20px;
}

.navbar {
    display: flex;
    background-color: blue;
    justify-content: flex-start;
    padding-left: 96px;
    gap: 70px;
}

#home {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;

}

#botoncito {
    background-color: lightskyblue;
    color: whitesmoke;
}

